@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$pagecontent-font: Roboto, Arial, sans-serif;

.pageContent {
  font-family: $pagecontent-font;
  background: #eee;
  display:flex;
  justify-content: center;
}
